@page "/counter"
@rendermode InteractiveServer
@inject ESeller DbService


<PageTitle>Test blazor y conexión BBDD</PageTitle>

<h1>Test blazor y conexión BBDD</h1>

<RadzenButton Click="@CheckConnection" Text="Probar conexión"></RadzenButton>

@if (connectionResult != null)
{
    <p>@connectionResult</p>
}

@code {
    private string? connectionResult;

    private async Task CheckConnection()
    {
        bool success = await DbService.TestConnectionAsync();
        connectionResult = success ? "Conexión exitosa ✅" : "Error al conectar ❌";
    }
}










